.containerProfile {
  position: absolute;
  top: 60px;
  left: -10px;
}
.containerProfileOff{
  pointer-events: none;
}
.containerPicture {
  display: flex;
  flex-direction:row;
}
.profilePicture{
  top:25px;
  left:25px;
  width: 130px;
  height: 130px;
  z-index: 2;
  transition: all 0.9s;
}
.profilePictureHover {
  transform: scale(0.7) translateX(-30px);
  -webkit-transform: scale(0.7) translateX(-30px);
  -ms-transform: scale(0.7) translateX(-30px);
  filter: drop-shadow(0 0 35px blue);
}
.profileData{
  width: 0px;
  height: 200px;
  z-index: 1;
  margin-left: -45px;
  margin-top: 90px;
  visibility: hidden;
  transition: all 0.9s;
}
.profileDataVisible{
  visibility: visible;
  margin-top: 25px;
  width: 270px;
}
.profileSelectArea{
  z-index: 999;
  top: 35px;
  left: 35px;
  width: 110px;
  height: 110px;
  border-radius: 100px;
  position: absolute;
}
.containerLightSwitch{
  background: transparent;
  width: 100%;
  height: 170px;
  margin-top: -150px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 60px 0px 0px;
}
.containerLightSwitchOn {
  filter: drop-shadow(0 0 var(--space-shadow, 15px) var(--color-neon, yellow));
}
.wave {
  margin-top: -250px;
  margin-bottom: 100px;
  height: 255px;
  clip-path: url(#svgPath);
}
.filterDarkness{
  clip-path: circle(5vmax at var(--x) var(--y));
  cursor:none;
}

@media screen and (max-width: 450px ) {
  .containerLightSwitch {
    margin-top: -80px;
    padding-right: 15px;
  }
  .wave {
    margin-top: -290px;
    margin-bottom: 0px;
    height: 295px;
  }
}