:root {
  --height-header: 60px;
}

header {
  position: fixed;
  top:0;
  left:0;
  padding: 0 70px;
  width: 100%;
  height: var(--height-header);
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,.8);
  box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.92);
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  margin: 0;
}
header nav ul li a{
  height: var(--height-header);
  line-height: var(--height-header);
  padding: 0 20px;
  color: rebeccapurple;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
  color: greenyellow;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px greenyellow, 0 0 10px;
  background: rgba(255,255,255,.03);
}
.menuToggle{  
  line-height: var(--height-header);
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.icon{
  fill:greenYellow; 
  margin-right:-40px;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px greenyellow, 0 0 10px;
}
.logo:hover {
  transition: all 0.5s;
  transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
}
@media (max-width: 900px){
    header{
      padding: 0 30px;
    }
    header nav{
      position: absolute;
      width: 40%;
      height: calc(100vh - var(--height-header));
      background: rgba(0,0,0,.8);
      top: var(--height-header);
      right: -100%;
      z-index: 1000;
      transition: all 1s;
    }
    .active{
      top: var(--height-header);
      right: 0;
    }
    header nav ul{
      display: block;
      text-align: center;
    }
    header nav ul li a{
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .menuToggle{
      display: block;
      z-index: 2001;
    }
}