.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    30%{}
    50%
    {
        -webkit-transform: translateX(23px);
        transform: translateX(23px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}