  .containerLightSwitchOn {
    filter: drop-shadow(0 0 var(--space-shadow, 15px) var(--color-neon, yellow));
  }
  .lightSwitch {
    position: relative;
    width: 50px;
    height:50px;
    background: #ccc;
    line-height: 40px;
    text-align: center;
    color: #6f6f6f;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1px -1px 5px rgba(150,150,150,0.4),
                1px 1px 5px  rgba(150, 150, 150, 0.9);
                animation: all 1s;
  }
  .lightSwitchOn{
    box-shadow: -3px -3px 5px rgba(150,150,150,0.2),
                2px 2px 5px  rgba(150, 150, 150, 0.5),
                inset 2px 2px 3px rgba(150,150,150,1),
                inset -2px -2px 1px rgba(150,150,150,0.5);
                transform: scale(0.97);
  }
  .svgLightSwitch {
    margin-top: 13px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .pathLightSwitch {
    fill:rgba(150,150,150,0.8);;
  }
  .pathLightSwitchOn {
    fill:yellow;
  }